* {
  margin:0px;
  padding:0px;
}

p {
  font-size: 1.05em;
}

img {
  max-width: 420px;
}



@media (max-width: 768px) {
  .profile-img {
    max-width: 61%;
  }
  img {
    max-width: 100%;
  }
}

